@font-face {
  font-family: "Motiva Sans";
  src: url("fonts/MotivaSansRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Motiva Sans Bold";
  src: url("fonts/MotivaSansBold.ttf") format("truetype");
}
body {
  font-family: "Motiva Sans", sans-serif;
  background: linear-gradient(to bottom, #040011, #202B3C);
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

section {
  margin-bottom: 70px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E141B;
  height: 58px;
}
.nav__top_left-side {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin-left: 17px;
}
.nav__top_left-side a {
  font-family: "Motiva Sans Bold";
  color: #F3F3F3;
  text-transform: uppercase;
  font-size: 18px;
}
.nav__top_left-side_active {
  color: #66C0F4 !important;
}
.nav__top_right-side li {
  padding: 10px 5px;
}
.nav__top_right-side button {
  background-color: #1E2329;
  height: 39px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #F3F3F3;
}
.nav__top_right-side_icon {
  height: 24px;
  width: auto;
}
.nav__top_right-side_profile img:first-child {
  height: 85%;
}
.nav__top_right-side_profile span {
  color: #76808C;
  margin-left: 8px;
}
.nav__top_right-side_profile * {
  margin-right: 8px;
}
.nav__top_right-side_sub {
  color: #76808C;
  display: flex;
  align-items: center;
}
.nav__top_right-side_sub button {
  background-color: #0E141B;
  color: #76808C;
}
.nav__top_right-side_sub a {
  margin-left: 55px;
}
.nav__top_right-side_sub * {
  margin-right: 8px;
}
.nav__top_right-side_sub img {
  filter: opacity(0.5);
}
.nav__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212B45;
  height: 58px;
  padding: 0 10px;
}
.nav__bottom a {
  color: #F3F3F3;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 0 4px;
}
.nav__bottom a:hover {
  background-color: #4B619B;
}
.nav__bottom_search {
  display: flex;
  align-items: center;
}
.nav__bottom_search input {
  border-radius: 5px;
  color: #76808C;
  background-color: rgba(14, 20, 27, 0.2);
  border: 0;
  padding: 15px 20px;
  width: 20vw;
}
.nav__bottom_search input::placeholder {
  color: #4B619B;
}
.nav__bottom_search img {
  margin-left: -30px;
}
.nav__bottom button {
  background-color: rgba(118, 128, 140, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
}

.header__bg {
  width: 100%;
  height: auto;
}

section:first-child h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 35px;
  color: #F3F3F3;
}

.featured-slider {
  color: #F3F3F3;
  background-color: rgba(14, 20, 27, 0.2);
  margin: 0 5px;
  border-radius: 5px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-slider > img {
  margin: 0 15px;
}
.featured-slider__cover {
  height: 100%;
}
.featured-slider__internal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  column-gap: 17px;
  width: 1280px;
  height: 488px;
  background-color: #0E141B;
  border-radius: 5px;
}
.featured-slider__internal_collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 7px;
  column-gap: 7px;
}
.featured-slider__internal_collection img {
  width: 100%;
}
.featured-slider__internal_right-side h3 {
  font-family: "Motiva Sans Bold";
  font-size: 26px;
  margin: 0;
  margin-top: 5px;
}
.featured-slider__internal_right-side p {
  margin: 17px 0;
}
.featured-slider__internal_right-side a {
  color: #76808C;
  background-color: #1E2329;
  border-radius: 5px;
  padding: 8px 13px;
}
.featured-slider__internal_right-side > div:not(:last-child) {
  margin-bottom: 17px;
}
.featured-slider__internal_bottom p {
  font-family: "Motiva Sans Bold";
  font-size: 18px;
  margin: 0;
  margin-right: 13px;
}
.featured-slider__internal_bottom div:last-child {
  display: flex;
  align-items: center;
}
.featured-slider__btn_wish {
  padding: 12.5px 20px;
  background-color: #1E2329;
  color: #F3F3F3;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
}
.featured-slider__btn_wish img {
  margin-left: 12px;
}
.featured-slider__btn_buy {
  padding: 12.5px 27.5px;
  background-color: #4B619B;
  color: #F3F3F3;
  border-radius: 5px;
  font-size: 18px;
}
.featured-slider__navigation {
  display: flex;
  justify-content: center;
}
.featured-slider__navigation div {
  display: flex;
  border-radius: 5px;
  margin: 30px 5px 0px 5px;
  height: 8px;
  width: 38px;
  background-color: #0E141B;
}
.featured-slider__navigation_active {
  border-radius: 5px;
  background-color: #4B619B;
  height: 8px;
  width: 50%;
}

.flex__space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category__link {
  font-size: 12px;
}

.slider {
  width: 1388px;
  color: #F3F3F3;
}
.slider__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.slider__head h2 {
  font-size: 18px;
  color: #F3F3F3;
}
.slider__head a {
  padding: 7px 20px;
  box-shadow: 0 0 1.2px #76808C;
  color: #76808C;
  border-radius: 5px;
}
.slider__main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(14, 20, 27, 0.2);
  border-radius: 5px;
}
.slider__nav {
  display: flex;
  justify-content: center;
}
.slider__nav span {
  display: flex;
  border-radius: 5px;
  margin: 30px 5px 0px 5px;
  height: 8px;
  width: 38px;
  background-color: #0E141B;
}
.slider__nav_active {
  background-color: #4B619B !important;
}

/*# sourceMappingURL=style.css.map */
